@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

*{
    box-sizing: border-box;
    
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: 0.5rem 0.5rem rgb(34, 34, 34);
    max-width: 400px;
    width: 100%;
   
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #4362c0;
    margin-bottom: 10px;
    padding: 1.5em;
    
    border-radius: 10px;
    transition: 0.5s;
}
.card.first{
    margin-right: 30px;
} 
.card.second{
    margin-right: 30px;
} 
.card.third{
    margin-right: 30px;
} 
.card:hover{
    
    box-shadow: 0 0 5px 5px rgb(87, 85, 85);
    transform: scale(1.03);
}
.profile-image{
    border-radius: 50%;
    border:5px solid rgb(199, 195, 195);
    position:relative;
    left: 7.6rem;
    top:-3rem;

}
.profile-name{
    font-family: 'Kanit', sans-serif;
    position: relative;
    left: 7rem;
    top:-2.3rem;
    color: white;
    
}
.card-main{
    position: relative;
    top: -18px;
    left: -20px;
    
}
.profile-name::after{
    content:'';
    display: block;
    height: 1px;
    width:6em;
    background: rgb(76, 177, 207);
    opacity: 0.3;
    margin-left: 2px;
}
.profile-position{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 4px;
    text-align: center;
    position: relative;
    top: -2rem;
    left:2rem;
    color: rgb(76, 177, 207);
}
.profile-body{
    margin-top: 10px;
    font-weight: 500;
    color: rgb(12, 12, 12);
    opacity: 0.6;
    position: relative;
    left:1rem;
    text-align: center;
    padding: 0;
}
.profile-link{
    position: relative;
    left:10rem;
    top: 1.8em;
    
    color: rgb(139, 174, 226);
}
.profile-link:hover{
    text-decoration-line: underline;

}
.profile-link i{
    padding: 2px;
    position: relative;
    top:1px;

}
@media(min-width:600px){
 .card-container{
     display: flex;
     justify-content: space-around;
    
 }
}
@media(max-width:1100px){
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .profile-image{
         position: relative;
         left: 6.8rem;
    }
    .profile-name{
        left: 5.8rem;
    }
    .profile-link{
        left:9.3rem;
    }
    .card{
        margin-bottom: 2rem;
    }
    
}