@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    
}
:root{
    --blue: rgb(27, 109, 134);
    --black: rgb(14, 13, 13); 
    --white:white;
    --lightblack:rgb(58, 56, 56);
}
.dark{
    --white: rgb(43, 44, 59);
    --black:rgb(253, 251, 251);
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    
    width: 100%;
    color: var(--white);
    position: fixed;
    z-index: 100;
    
}
.nav-scroll{
    background-color: var(--white);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: space-between;
    height: 80px;
    opacity: 2;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.ulist{
    float: right;
    display: flex;
    align-items: center;
    
}
.log{
    color: var(--black);
    font-family: 'Oswald';
    margin-top: 7px;
    font-size: 10rem;
}
.log:hover{
    cursor: pointer;

}
.ulist li{
    padding-right:5vw;
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
    animation: link-load 300ms ease-out;
    
}
@keyframes link-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.ulist li a:hover{
    color: var(--lightblack);
    
}
.ulist li a{
    text-decoration: none;
    color: var(--black);
    font-family: 'Oswald' ;
    font-size: 2rem;
    font-weight: 560;
    display: inline-block;
}
.ulist li a::after,.log::after{
    content: '';
    position: absolute;
    width: 10vw;
    opacity: 0;
    height: 0.1em;
    bottom: 1vw;
    left: 57.4vw;
    background-color: var(--black);
    transition: opacity 300ms,transform 300ms ;
}
.ulist li a:hover::after, a:focus::after{
    opacity: 1;
    
    transform: translate3d(0,0.2em,0);
}
.ulist li:nth-child(2) a{
    overflow: hidden;
}
.ulist li:nth-child(2) a::after{
    opacity: 0;
    transform: translate3d(0,0,0);
    left: 72.0vw;
    width: 5.8vw;
}
.ulist li:nth-child(2) a:hover::after,
a:focus::after{
    opacity: 1;
    transform: translate3d(0,0.2em,0);
}
.log{
    overflow: hidden;
}
.log::after{
    opacity: 0;
    transform: translate3d(0,0,0);
    left: 82.5vw;
    width: 4.3vw;
}
.log:hover::after,
.log:focus::after{
    opacity: 1;
    transform: translate3d(0,0.2em,0);
}
.logo{
   padding:30px; 
   animation: left-load 300ms ease-in 00ms;
}
@keyframes left-load{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.logo1{
   
   font-family: sans-serif;
   font-weight: bold;
   font-size: 35px;
   color:var(--blue);
}
.logo2{
    font-family: sans-serif;
   font-weight: bold;
   font-size: 35px;
   color: var(--black);
}
@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.themeChange{
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.themeChange::before{
    content:'\f186';
    color: white;
    font-family: fontAwesome;
    font-size: 20px;
}
.themeChange.active::before{
    content: '\f185';
}
@media (max-width:900px){
  .ulist{
     display: none;
  }   
  .toggle{
      position: relative;
      width: 30px;
      height: 30px;
      background: url(../../images/menu.png);
      filter: invert(1);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 25px;
      margin-right: 15px;
      cursor: pointer;
      z-index: 100;
  }
  .toggle.active{
    background: url(../../images/close.png);
    filter: invert(1);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;

  }
  .ulist.active{
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background: var(--white);
      flex-direction: column;
      font-family: 'Oswald';
      font-size: 20px;
  }
}