@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway:ital,wght@1,100&display=swap');
.front-part{
    height: 150%;
    width: 100%;
    padding-top: 12vw;
    background: var(--white);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    
}
.front-part1{
    width: 100%;
    height: 100%;
    
    
    background: var(--white);
    
}

.text{
    position: relative;
}
.home{
    height: 100%;
    background: var(--white);
    width: 100%;

}
:root{
    --blue: rgb(27, 109, 134);
    --black: rgb(14, 13, 13); 
    --white:white;
    --light-grey:rgb(235, 240, 232);
    --lightblue:rgb(217, 221, 223);
    
}
.dark{
    --white: rgb(43, 50, 59);
    --black:rgb(253, 251, 251);
    --lightblack:rgb(221, 218, 218);
    z-index: 1;
    --light-grey:rgb(126, 128, 125);
    --lightblue:rgb(91, 91, 92);

}

.text{
    position: relative;
    max-width: 850px;
    z-index: 1;
    
    margin-top: -70px;
}


.sp1{
    margin-top: -5vw;
    margin-left: 5vw;
    position: relative;
    font-size: 80px;
    font-family: 'Merriweather';
    font-weight: lighter;
    color:var(--black);
    animation: enlarge 400ms ease-in 300ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}


@keyframes enlarge{
    0%{
        transform: scale3d(0,0,0);
    }
    
    100%{
        transform: scale3d(1,1,1);
    }
}
.sp2{
    margin-top: 0.5vw;
    margin-left: 5vw;
    font-weight: bold;
    font-size: 83px;
    color: var(--blue);
    font-family: 'Merriweather';
    animation: enlarge 400ms ease-in 300ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.sp3{
    margin-left: 5vw;
    font-size: 35px;
    font-family: 'Raleway';
    font-weight: 600;
    color: var(--black);
}
.svg{
    z-index: -1;
    float: right;
    
    margin-top: -5vw;
    display: flex;
    
}


@keyframes bottomleft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.front-part1-headline{
    text-align: left;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 3rem;
    
    font-family: 'Merriweather';
    font-size: 3.5rem;
    color: var(--black);
}
.front-part1-headline::after{
    content:'';
    height: 1.5px;
    width:26rem;
    background: var(--black);
    display: block;
    position: relative;
    top: 3px;
}

.front-part1-cards{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    position: relative;
    top: 1rem;
    
}
.front-part2{
    margin-top: 10rem;
}
.front-part2-headline{
    float: right;
    position: relative;
    right: 0.5rem;
    top: 2.5rem;
    font-size: 3.5rem;
    font-family: 'Merriweather';
    color: var(--black);

}
.front-part2-headline::after{
    content:'';
    height: 1.5px;
    right:2.2rem;
    width:23rem;
    background: var(--black);
    display: block;
    position: relative;
    top: 3px;
}
.front-part2-cards{
    position: relative;
    top:8rem;
}
.front-part2-para{
    position: relative;
    top: 12rem;
    
    text-align: center;
    color: var(--black);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 3rem;

}
.front-part2-cards::before{
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 23rem;
    background: var(--black);
    top: 2rem;
}
.front-part2-cards::after{
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 45rem;
    float: right;
    background: var(--black);
    top: -48.6rem;
}

@media (max-width:1500px){
    .front-part2-cards::before{
        content: '';
        display: block;
        position: relative;
        height: 2px;
        width: 0;
        background: var(--black);
        top: 2rem;
    }
    .front-part2-cards::after{
        content: '';
        display: block;
        position: relative;
        height: 2px;
       width: 0;
        float: right;
        background: var(--black);
        top: -48.6rem;
    }
}
@media (max-width:1200px){
     .front-part{
          font-size: 5px;

         flex-direction:column-reverse;
     }   
     .text{
         top: 10rem;
     }
     .front-part1{
         position: relative;
         top: 10rem;
     }
     .front-part::after{
         content:'';
         display: block;
         height: 2px;
         width:40rem;
         background: rgb(17, 17, 17);
         position: relative;
         top:56rem;
         opacity: 0.4;

     }
     .front-part1-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .front-part2-headline{
        position: relative;
        top: 6rem;
    }
    .front-part1::after{
        content:'';
        display: block;
        height: 2px;
        width:40rem;
        background: rgb(17, 17, 17);
        position: relative;
        top: 6rem;
        left: 10rem;
        opacity: 0.4;

    }

}